@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Uncial+Antiqua&display=swap');

:root {
  --primary: #ff4500;
  --support: #a6def5;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}


.movie {
  width: 300px;
}

.movie img {
  width: 100%;
}