#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height:100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  top: 40%;
  
}