@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Amatic+SC:wght@400;700&family=Carattere&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=League+Spartan:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Great Vibes', cursive;
  --prime: #ff4500;
  --prime-dark: #b43406;
  --support: #008080;
  --support-dark: #014141;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --blaze: #ea1616;
  --blaze-dark: #a71212;
  --inform: #1b1bc6;
  --inform-dark: #111179;
  --alert: #ffd700;
  --alert-dark: #ac9302;
  --forest: #10bb10;
  --forest-dark: #096e09;
  --black: #000000;
  --white: #ffffff; 
  --size-1: 0.0625rem;     /* 1px */
  --size-2: 0.125rem;      /* 2px */
  --size-3: 0.1875rem;     /* 3px */
  --size-4: 0.25rem;       /* 4px */
  --size-5: 0.3125rem;     /* 5px */
  --size-6: 0.375rem;      /* 6px */
  --size-8: 0.5rem;        /* 8px */
  --size-10: 0.625rem;     /* 10px */
  --size-12: 0.75rem;      /* 12px */
  --size-14: 0.875rem;     /* 14px */
  --size-15: 0.9375rem;    /* 15px */
  --rem-1: 1rem;           /* 16px */
  --rem-1-25: 1.25rem;     /* 20px */
  --rem-1-5: 1.5rem;       /* 24px */
  --rem-1-75: 1.75rem;     /* 28px */
  --rem-2: 2rem;           /* 32px */
  --rem-2-5: 2.5rem;       /* 40px */
  --rem-3: 3rem;           /* 48px */
  --rem-3-5: 3.5rem;       /* 56px */
  --rem-4: 4rem;           /* 64px */
  --rem-5: 5rem;           /* 80px */
  --rem-6: 6rem;           /* 96px */
  --rem-8: 8rem;           /* 128px */
  --rem-10: 10rem;         /* 160px */
  --rem-15: 15rem;         /* 240px */
  --rem-20: 20rem;         /* 320px */
}
.text-xxl {
  font-size: var(--size-10);
}

.text-xs {
  font-size: var(--size-12);
}

.text-sm {
  font-size: var(--size-14);
}

.text-normal {
  font-size: var(--rem-1)
}

.text-md {
  font-size: var(--rem-1);
  font-weight: 400;
}

.text-lg {
  font-size: var(--rem-1-25);
  font-weight: 400;
}

.text-2xl {
  font-size: var(--rem-1-50);
  font-weight: 400;
}

.text-3xl {
  font-size: var(--rem-1-75);
  font-weight: 400;
}

.text-4xl {
  font-size: var(--rem-2);
  font-weight: 500;
}

.text-5xl {
  font-size: var(--rem-3);
  font-weight: 500;
}

body {
  font-family: var(--main-font);
  font-weight: 300;
}

.logo {
  font-family: var(--logo-font);
}

.container {
  max-width: 56.25rem;      /* 900px */
  margin: 0 auto;
}

.container.container-sm {
  max-width: 48.875rem;    /* 782px */
}

.container.container-md {
  max-width: 80rem;        /* 1280px */
}

.container.container-lg {
  max-width: 90rem;        /* 1440px */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.p-1 {
  padding: var(--rem-1);
}

.p-auto {
  padding: auto;
}

.pt-1 {
  padding-top: var(--rem-1);
}

.pr-1 {
  padding-right: var(--rem-1);
}

.pb-1 {
  padding-bottom: var(--rem-1);
}

.pl-1 {
  padding-left: var(--rem-1);
}

.px-1 {
  padding-left: var(--rem-1);
  padding-right: var(--rem-1);
}

.py-1 {
  padding-top: var(--rem-1);
  padding-bottom: var(--rem-1);
}

.p-2 {
  padding: var(--rem-2);
}

.p-auto {
  padding: auto;
}

.pt-2 {
  padding-top: var(--rem-2);
}

.pr-2 {
  padding-right: var(--rem-2);
}

.pb-2 {
  padding-bottom: var(--rem-2);
}

.pl-2 {
  padding-left: var(--rem-2);
}

.px-2 {
  padding-left: var(--rem-2);
  padding-right: var(--rem-2);
}

.py-2 {
  padding-top: var(--rem-2);
  padding-bottom: var(--rem-2);
}

.p-3 {
  padding: var(--rem-3);
}

.p-auto {
  padding: auto;
}

.pt-3 {
  padding-top: var(--rem-3);
}

.pr-3 {
  padding-right: var(--rem-3);
}

.pb-3 {
  padding-bottom: var(--rem-3);
}

.pl-3 {
  padding-left: var(--rem-3);
}

.px-3 {
  padding-left: var(--rem-3);
  padding-right: var(--rem-3);
}

.py-3 {
  padding-top: var(--rem-3);
  padding-bottom: var(--rem-3);
}

.p-4 {
  padding: var(--rem-4);
}

.p-auto {
  padding: auto;
}

.pt-4 {
  padding-top: var(--rem-4);
}

.pr-4 {
  padding-right: var(--rem-4);
}

.pb-4 {
  padding-bottom: var(--rem-4);
}

.pl-4 {
  padding-left: var(--rem-4);
}

.px-4 {
  padding-left: var(--rem-4);
  padding-right: var(--rem-4);
}

.py-4 {
  padding-top: var(--rem-4);
  padding-bottom: var(--rem-4);
}

.m-1 {
  margin: var(--rem-1);
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin: auto 0;
}

.mt-1 {
  margin-top: var(--rem-1);
}

.mr-1 {
  margin-right: var(--rem-1);
}

.mb-1 {
  margin-bottom: var(--rem-1);
}

.ml-1 {
  margin-left: var(--rem-1);
}

.mx-1 {
  margin-left: var(--rem-1);
  margin-right: var(--rem-1);
}

.my-1 {
  margin-top: var(--rem-1);
  margin-bottom: var(--rem-1);
}

.m-2 {
  margin: var(--rem-2);
}

.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: var(--rem-2);
}

.mr-2 {
  margin-right: var(--rem-2);
}

.mb-2 {
  margin-bottom: var(--rem-2);
}

.ml-2 {
  margin-left: var(--rem-2);
}

.mx-2 {
  margin-left: var(--rem-2);
  margin-right: var(--rem-2);
}

.my-2 {
  margin-top: var(--rem-2);
  margin-bottom: var(--rem-2);
}

.m-3 {
  margin: var(--rem-3);
}

.m-auto {
  margin: auto;
}

.mt-3 {
  margin-top: var(--rem-3);
}

.mr-3 {
  margin-right: var(--rem-3);
}

.mb-3 {
  margin-bottom: var(--rem-3);
}

.ml-3 {
  margin-left: var(--rem-3);
}

.mx-3 {
  margin-left: var(--rem-3);
  margin-right: var(--rem-3);
}

.my-3 {
  margin-top: var(--rem-3);
  margin-bottom: var(--rem-3);
}

.m-4 {
  margin: var(--rem-4);
}

.m-auto {
  margin: auto;
}

.mt-4 {
  margin-top: var(--rem-4);
}

.mr-4 {
  margin-right: var(--rem-4);
}

.mb-4 {
  margin-bottom: var(--rem-4);
}

.ml-4 {
  margin-left: var(--rem-4);
}

.mx-4 {
  margin-left: var(--rem-4);
  margin-right: var(--rem-4);
}

.my-4 {
  margin-top: var(--rem-4);
  margin-bottom: var(--rem-4);
}

.title {
  font-size: 3.75rem;
  font-weight: 500;
  margin: var(--rem-3) 0;
}

.title-main {
  font-size: var(--rem-5);
  font-weight: 600;
  margin: var(--rem-4) 0;
}

.subtitle {
  font-size: var(--rem-2-5);
  font-weight: 400;
  margin: var(--rem-2) 0;
}

.text-prime {
  color: var(--prime);
}

.text-support {
  color: var(--support);
}

.text-forest {
  color: var(--forest);
}

.text-blaze {
  color: var(--blaze);
}

.text-alert {
  color: var(--alert);
}

.text-inform {
  color: var(--inform);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.bg-prime {
  background-color: var(--prime);
}

.bg-support {
  background-color: var(--support);
}

.bg-forest {
  background-color: var(--forest);
}

.bg-blaze {
  background-color: var(--blaze);
}

.bg-alert {
  background-color: var(--alert);
}

.bg-inform {
  background-color: var(--inform);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.btn,
.btn-prime,
.btn-support,
.btn-forest,
.btn-blaze,
.btn-alert,
.btn-inform,
.btn-dark,
.btn-light {
  margin: var(--size-4) var(--size-2);
  padding: var(--size-8) var(--rem-1-25);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--rem-1);
  letter-spacing: 0.6px;
  border-radius: var(--size-3);
  color: var(--light);
  background-color: var(--dark);
  border: none;
  box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.btn:hover,
.btn-prime:hover,
.btn-support:hover,
.btn-forest:hover,
.btn-blaze:hover,
.btn-alert:hover,
.btn-inform:hover,
.btn-dark:hover,
.btn-light:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(51, 51, 51, 0.2);
}

.btn-prime {
  background-color: var(--prime);
  color: var(--light);
}

.btn-support {
  background-color: var(--support);
  color: var(--light);
}

.btn-forest {
  background-color: var(--forest);
  color: var(--light);
}

.btn-blaze {
  background-color: var(--blaze);
  color: var(--light);
}

.btn-alert {
  background-color: var(--alert);
  color: var(--dark);
}

.btn-inform {
  background-color: var(--inform);
  color: var(--light);
}

.btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--light);
}

.btn-sm {
  margin: var(--size-3) 0.09375rem;
  padding: 0.2625rem 0.9375rem;
  font-size: var(--size-12);
}

.btn-lg {
  margin: var(--size-5) 0.15625rem;
  padding: 0.4375rem 1.5625rem;
  font-size: var(--rem-1-25);
}

.btn-block {
  width: 100%;
}

.alert,
.alert-prime,
.alert-support,
.alert-dark,
.alert-light,
.alert-blaze,
.alert-forest,
.alert-inform,
.alert-alert{
  width: 25rem;
  margin: var(--size-12);
  padding: var(--rem-1-25);
  background: rgba(0, 0, 0, 0.35);
  border-radius: var(--size-3);
  box-shadow: 0 0.15rem 0.55rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-close {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.alert-prime {
  background: rgba(255, 68, 0, 0.35);
  border: 1px solid var(--prime);
  color: var(--prime-dark);
}

.alert-support {
  background: rgba(0, 128, 128, 0.35);
  border: 1px solid var(--support);
  color: var(--support-dark);
}

.alert-light {
  background: rgba(255, 252, 250, 0.35);
  border: 1px solid var(--light);
  color: var(--white);
}

.alert-dark {
  background: rgba(17, 17, 17, 0.35);
  border: 1px solid var(--dark);
  color: var(--black);
}

.alert-blaze {
  background: rgba(234, 22, 22, 0.35);
  border: 1px solid var(--blaze);
  color: var(--blaze-dark);
}

.alert-inform {
  background: rgba(27, 27, 198, 0.35);
  border: 1px solid var(--inform);
  color: var(--inform-dark);
}

.alert-forest {
  background: rgba(16, 187, 16, 0.35);
  border: 1px solid var(--forest);
  color: var(--forest-dark);
}

.alert-alert {
  background: rgba(255, 215, 0, 0.35);
  border: 1px solid #343a40;
  color: black;
}

.fadeAlert {
  animation: fadeAlert 0.5s ease-in-out;
}

@keyframes fadeAlert {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: var(--size-3);
}

.card-body {
  width: 100%;
  padding: var(--rem-1);
  border-radius: var(--size-8);
}

.card-body .btn,
.card-body .btn-prime,
.card-body .btn-support,
.card-body .btn-dark,
.card-body .btn-light,
.card-body .btn-forest,
.card-body .btn-blaze,
.card-body .btn-inform,
.card-body .btn-alert {
  margin-bottom: var(--rem-2);
}

.card-title {
  font-size: var(--rem-1-5);
  font-weight: 500;
  margin-bottom: var(--rem-1);
}

.card-text {
  font-size: var(--rem-1);
  font-weight: 400;
  margin-bottom: var(--rem-1);
}

.card-header,
.card-footer {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: var(--rem-1);
  font-weight: 500;
  border-top-left-radius: var(--size-8);
  border-top-right-radius: var(--size-8);
  border-bottom: 1px solid rgba(102, 102, 102, 0.125);
}

.card-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--size-8);
  border-bottom-right-radius: var(--size-8);
  border-bottom: none;
  border-top: 1px solid rgba(102, 102, 102, 0.125);
}

.card img {
  width: 100%;
  height: fit-content;
  background-color: var(--grey-light);
}

.card-prime {
  border: 1px solid var(--prime);
}

.card-prime .card-header,
.card-prime .card-footer {
  background-color: var(--prime);
  color: var(--light);
}

.card-support {
  border: 1px solid var(--support);
}

.card-support .card-header,
.card-support .card-footer {
  background-color: var(--support);
  color: var(--light);
}

.card-light {
  border: 1px solid var(--light);
}

.card-light .card-header,
.card-light .card-footer {
  background-color: var(--light);
  color: var(--dark);
}

.card-dark {
  border: 1px solid var(--dark);
}

.card-dark .card-header,
.card-dark .card-footer {
  background-color: var(--dark);
  color: var(--light);
}
.card-forest {
  border: 1px solid var(--forest);
}

.card-forest .card-header,
.card-forest .card-footer {
  background-color: var(--forest);
  color: var(--light);
}

.card-blaze {
  border: 1px solid var(--blaze);
}

.card-blaze .card-header,
.card-blaze .card-footer {
  background-color: var(--blaze);
  color: var(--light);
}

.card-alert {
  border: 1px solid var(--alert);
}

.card-alert .card-header,
.card-alert .card-footer {
  background-color: var(--alert);
  color: var(--dark);
}

.card-inform {
  border: 1px solid var(--inform);
}

.card-inform .card-header,
.card-inform .card-footer {
  background-color: var(--inform);
  color: var(--light);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: var(--rem-1);
  user-select: none;
}

.navbar-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--rem-1);
}

.navbar-brand {
  margin-left: var(--rem-1);
  color: inherit;
}

.navbar-toggler {
  display: none;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
    margin-right: var(--rem-1);
  }
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
}

.navbar-nav .nav-item {
  margin-right: var(--rem-1);
}

.navbar-nav .nav-item:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link {
  color: inherit;
}

.navbar-nav.showNavbar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--size-15);
  margin: var(--size-15);
  width: 100%;
}

.navbar.showNavbar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-group {
  margin-bottom: var(--rem-1);
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--size-8);
}

.form-group input,
.form-group select {
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-radius: var(--size-5);
  padding: var(--size-8);
  width: 100%;
}

.shadow-sm {
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.15);
}

.shadow-md {
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.35);
}

.border-0 {
  border-radius: 0;
}

.border-5 {
  border-radius: 5px;
}

.border-10 {
  border-radius: 10px;
}

.border-15 {
  border-radius: 15px;
}

.border-20 {
  border-radius: 20px;
}

.border-50 {
  border-radius: 50%;
}