@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light: #fffdfa;
  --dark: #111;
  --main: #1b498d;
  --support: #d2d816;
  --pure-white: #fff;
}

body {
  background-color: var(--light);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid var(--main);
}

.toolbox {
  background-color: var(--main);
  border: 1px solid var(--support);  
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: var(--pure-white);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}