@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

:root {
  --main: #ff4500;
  --light: #fffdfa;
  --dark: #111;
  --grey:  #777;
  --transition: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.logo-text {
  font-family: 'VT323', monospace;
}

.logo-img {
  width: 100px;
  border-radius: 50%;
}

.sidebar-img {
  width: 75px;
  border-radius: 50%;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
  transform: translateX(0);
}

.nav-dark {
  background-color: var(--dark);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
}

.nav-dark.visible {
  transition-delay: 0s;
}

.nav-orange {
  background-color: var(--main);
  width: 95%;
  transition-delay: 0.2s;
}

.nav-orange.visible {
  transition-delay: 0.2s;
}

.nav-light {
  background-color: var(--light);
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
}

.nav-light.visible {
  transition-delay: 0.4s;
}

.close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
}

.list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}

.list li a:hover {
  color: var(--main);
}


