@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

:root {
  --main: #ff4500;
  --light: #fffdfa;
  --dark: #111;
  --grey-1:  #333;
  --grey-2: #ccc;
  --transition: 0.5s solid ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-text {
  font-family: 'VT323', monospace;
}

.logo-img {
  width: 150px;
  border-radius: 50%;
}

.nav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* transform: translateX(-100%);
  transition: transform 0.5s ease-in-out; */
}

.nav.visible {
  transform: translateX(0);
}

.nav-black {
  background-color: var(--dark);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  /* transition-delay: 0.4s; */
}

.nav-black.visible {
  /* transition-delay: 0s; */
}