@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Uncial+Antiqua&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #e6e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  height: 60%;
  padding: 8px;
  background-color: #fffdfa;
  border-radius: 3px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
}

.logo {
  font-family: 'Uncial Antiqua', system-ui;
  font-size: 1.2rem;
  color: #ff4500;
  text-align: center;
  margin-bottom: 8px;
}