* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap,
.top,
.half {
  width: 150px;
  height: 150px;
}

.wrap {
  position: relative;
}

.top,
.half {
  position: absolute;
  border-radius: 50%;
}

.top {
  border-top: 30px solid red;
  border-right: 30px solid transparent;
  border-bottom: 30px solid green;
  border-left: 30px solid gold;
}

.half {
  position: absolute;
  border: 30px solid transparent;
  border-right: 30px solid blue;
  transform: rotate(45deg);
  z-index: -1;
}