body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(101, 1, 1);
}

.container {
  width: 206px;
  height: 120px;
  position: absolute;
  overflow: hidden;
}

.shape {
  width: 46px;
  height: 150px;
  background-color: #000;
  position: absolute;
  transform: rotate(-31deg);
}

.shape-1 {
  top: 86px;
  left: 36px;
}