@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Antonio:wght@100..700&display=swap');

* {
  font-family: 'Antonio', sans-serif;
  font-weight: 300;
}

.title {
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: #ff4500;
}