@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Amatic+SC:wght@400;700&family=Carattere&family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=League+Spartan:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Great Vibes', cursive;
  --prime: #ff4500;
  --support: #008080;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --blaze: #ea1616;
  --inform: #1b1bc6;
  --alert: #ffd700;
  --forest: #10bb10;
  --black: #000000;
  --white: #ffffff; 
  --size-1: 0.0625rem;            /* 1px */
  --size-2: 0.125rem;             /* 2px */
  --size-3: 0.1875rem;            /* 3px */
  --size-4: 0.25rem;              /* 4px */
  --size-5: 0.3125rem;            /* 5px */
  --size-6: 0.375rem;             /* 6px */
  --size-8: 0.5rem;               /* 8px */
  --size-10: 0.625rem;            /* 10px */
  --size-12: 0.75rem;             /* 12px */
  --size-14: 0.875rem;            /* 14px */
  --size-15: 0.9375rem;           /* 15px */
  --rem-1: 1rem;                  /* 16px */
  --rem-1-25: 1.25rem;            /* 20px */
  --rem-1-5: 1.5rem;              /* 24px */
  --rem-1-75: 1.75rem;            /* 28px */
  --rem-2: 2rem;                  /* 32px */
  --rem-2-5: 2.5rem;              /* 40px */
  --rem-3: 3rem;                  /* 48px */
  --rem-3-5: 3.5rem;              /* 56px */
  --rem-4: 4rem;                  /* 64px */
  --rem-5: 5rem;                  /* 80px */
  --rem-6: 6rem;                  /* 96px */
  --rem-8: 8rem;                  /* 128px */
  --rem-10: 10rem;                /* 160px */
  --rem-15: 15rem;                /* 240px */
  --rem-20: 20rem;                /* 320px */
}

body {
  font-family: var(--main-font);
  font-weight: 300;
}

.logo {
  font-family: var(--logo-font);
}

.container {
  max-width: 56.25rem;          /* 900px */
  margin: 0 auto;
}

.container.container-sm {
  max-width: 48.875rem;         /* 782px */
}

.container.container-md {
  max-width: 80rem;             /* 1280px */
}

.container.container-lg {
  max-width: 90rem;             /* 1440px */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.p-1 {
  padding: var(--rem-1);
}

.p-auto {
  padding: auto;
}

.pt-1 {
  padding-top: var(--rem-1);
}

.pr-1 {
  padding-right: var(--rem-1);
}

.pb-1 {
  padding-bottom: var(--rem-1);
}

.pl-1 {
  padding-left: var(--rem-1);
}

.px-1 {
  padding-left: var(--rem-1);
  padding-right: var(--rem-1);
}

.py-1 {
  padding-top: var(--rem-1);
  padding-bottom: var(--rem-1);
}

.p-2 {
  padding: var(--rem-2);
}

.p-auto {
  padding: auto;
}

.pt-2 {
  padding-top: var(--rem-2);
}

.pr-2 {
  padding-right: var(--rem-2);
}

.pb-2 {
  padding-bottom: var(--rem-2);
}

.pl-2 {
  padding-left: var(--rem-2);
}

.px-2 {
  padding-left: var(--rem-2);
  padding-right: var(--rem-2);
}

.py-2 {
  padding-top: var(--rem-2);
  padding-bottom: var(--rem-2);
}

.p-3 {
  padding: var(--rem-3);
}

.p-auto {
  padding: auto;
}

.pt-3 {
  padding-top: var(--rem-3);
}

.pr-3 {
  padding-right: var(--rem-3);
}

.pb-3 {
  padding-bottom: var(--rem-3);
}

.pl-3 {
  padding-left: var(--rem-3);
}

.px-3 {
  padding-left: var(--rem-3);
  padding-right: var(--rem-3);
}

.py-3 {
  padding-top: var(--rem-3);
  padding-bottom: var(--rem-3);
}

.p-4 {
  padding: var(--rem-4);
}

.p-auto {
  padding: auto;
}

.pt-4 {
  padding-top: var(--rem-4);
}

.pr-4 {
  padding-right: var(--rem-4);
}

.pb-4 {
  padding-bottom: var(--rem-4);
}

.pl-4 {
  padding-left: var(--rem-4);
}

.px-4 {
  padding-left: var(--rem-4);
  padding-right: var(--rem-4);
}

.py-4 {
  padding-top: var(--rem-4);
  padding-bottom: var(--rem-4);
}

.m-1 {
  margin: var(--rem-1);
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin: auto 0;
}

.mt-1 {
  margin-top: var(--rem-1);
}

.mr-1 {
  margin-right: var(--rem-1);
}

.mb-1 {
  margin-bottom: var(--rem-1);
}

.ml-1 {
  margin-left: var(--rem-1);
}

.mx-1 {
  margin-left: var(--rem-1);
  margin-right: var(--rem-1);
}

.my-1 {
  margin-top: var(--rem-1);
  margin-bottom: var(--rem-1);
}

.m-2 {
  margin: var(--rem-2);
}

.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: var(--rem-2);
}

.mr-2 {
  margin-right: var(--rem-2);
}

.mb-2 {
  margin-bottom: var(--rem-2);
}

.ml-2 {
  margin-left: var(--rem-2);
}

.mx-2 {
  margin-left: var(--rem-2);
  margin-right: var(--rem-2);
}

.my-2 {
  margin-top: var(--rem-2);
  margin-bottom: var(--rem-2);
}

.m-3 {
  margin: var(--rem-3);
}

.m-auto {
  margin: auto;
}

.mt-3 {
  margin-top: var(--rem-3);
}

.mr-3 {
  margin-right: var(--rem-3);
}

.mb-3 {
  margin-bottom: var(--rem-3);
}

.ml-3 {
  margin-left: var(--rem-3);
}

.mx-3 {
  margin-left: var(--rem-3);
  margin-right: var(--rem-3);
}

.my-3 {
  margin-top: var(--rem-3);
  margin-bottom: var(--rem-3);
}

.m-4 {
  margin: var(--rem-4);
}

.m-auto {
  margin: auto;
}

.mt-4 {
  margin-top: var(--rem-4);
}

.mr-4 {
  margin-right: var(--rem-4);
}

.mb-4 {
  margin-bottom: var(--rem-4);
}

.ml-4 {
  margin-left: var(--rem-4);
}

.mx-4 {
  margin-left: var(--rem-4);
  margin-right: var(--rem-4);
}

.my-4 {
  margin-top: var(--rem-4);
  margin-bottom: var(--rem-4);
}