@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  font-family: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --main: #e12525;
  --main-dark: #c70707;
  --support: gold;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

.navbar {
  width: 100%;
  height: 19rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1)
}

.navbar-top {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.navbar-top div {
  margin: 0 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 6rem;
  color: var(--main);
  margin-right: 2rem;
}

.logo span {
  font-family: 'Caveat Brush', serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: var(--main)
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 52rem;
  padding: 1.2rem 1.4rem 1.2rem 3.7rem;
  background-color: transparent;
  border: 1px solid var(--grey-dark);
  border-radius: 0.3rem;
  font-size: 1.6rem;
  color: var(--dark);
}

.search-bar input::placeholder {
  color: var(--grey-medium);
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 1.4rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: var(--grey-dark);
}

.user {
  font-size: 2rem;
  color: var(--main);
}

.user i, .user span {
  margin-right: 1.2rem;
}

.nav-list {
  display: flex;
  height: 8.5rem;
  padding-top: 2rem;
}

.nav-list div {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid var(--main);
  cursor: pointer;
}

.nav-list div:nth-child(1) {
  border: none;
}

.nav-list div span {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.nav-list i {
  font-size: 2rem;
  color: var(--main);
  margin-bottom: 1rem
}

@media (max-width: 1400px) {
  html {
    font-size: 54%
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 51%
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 46%;
  }
  .navbar-top div {
    margin: 0 2rem;
  }
  .search-bar input {
    width: 40rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 39%;
  }

  .logo i {
    font-size: 4rem;
  }

  .search-bar input  {
    width: 30rem;
  }
}

@

